/CrynticCompiler.Runner
/C
/Comments/

/CrynticCompiler/obj
/CrynticCompiler/bin

/CrynticCompiler.Json/obj
/CrynticCompiler.Json/bin

/CrynticCompiler.Tags/obj
/CrynticCompiler.Tags/bin

/Example/obj
/Example/bin

.idea/
.vs/